# Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

node_modules/

dist/

# Frontend build artifacts
frontend/src/alpine*.js

# FastAPI/Pydantic specific
*.cache

# Testing
.pytest_cache/

# IDE/Editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.dev
.env.prod

# System files
.DS_Store
Thumbs.db

package-lock.json
