@tailwind base;
@tailwind components;
@tailwind utilities;

.watermark {
  position: fixed;
  opacity: .04;
  width: 60%;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

.dev { color: lightgray; }
.qa { color: gray; }
.prod { color: black; }

[x-cloak] { display: none !important; }
