<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FinApps Monitor</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	<link rel="stylesheet" href="/static/custom.css">
</head>
<body>
	<h1>UCOP Financial Application Group</h1>
	<p>Testing 1334</p>
</body>
</html>
